.pointText {
	display: flex;
	gap: 1rem;
}
.circle {
	margin-top: 0.9rem;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
	.circle {
		margin: 0.5rem 0;
	}
}
